*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/gradle.xml
.idea/misc.xml
.kotlin/sessions/kotlin-compiler-3127783277083916058.salive
.idea/misc.xml
.idea/kotlinc.xml
.idea/compiler.xml
.kotlin/sessions/kotlin-compiler-125315697172171217.salive
.idea/inspectionProfiles/Project_Default.xml
.idea/deploymentTargetSelector.xml
.idea/misc.xml
.kotlin/sessions/kotlin-compiler-634733032001641548.salive
